<div class="box-form">
  <div>
    <!-- <img class="hunter-image"src="/assets/images/hunter.png"> -->
    <img class="wumpus-image"src="/assets/images/monster.png">
  </div>
  <h1 class="game-title">HUNT THE WUMPUS</h1>
  <form [formGroup]="parametersForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="div-control">
        <label class="label-parameters">Tamaño: </label>
        <input class="input-parameters" type="number" formControlName="dimensions">
      </div>
    </div>
    <br/>
    <div>
      <div class="div-control">
        <label class="label-parameters">N° Pozos: </label>
        <input class="input-parameters" type="number" formControlName="holesCant">
      </div>
    </div>
    <br/>
    <div>
      <div class="div-control">
        <label class="label-parameters">N° Balas: </label>
        <input class="input-parameters" type="number" formControlName="arrowsCant">
      </div>
    </div>
    <br/>
    <br/>
    <button class="start-button" type="submit">Comenzar</button>
  </form>
</div>

<app-alert *ngIf="showAlert" [text]="textAlert" (onClose)="closeAlert()"></app-alert>
